<table class="table">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Population
      </th>
    </tr>
  </thead>
  <% cultures.each do |culture| %>
    <tr>
      <td>
        <%= culture.name %>
      </td>
      <td>
        <%= culture.total_population %>
      </td>
    </tr>

  <% end %>
</table>